<?xml version='1.1' encoding='UTF-8'?>
<com.cloudbees.plugins.credentials.SystemCredentialsProvider plugin="credentials@1415.v831096eb_5534">
  <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
    <entry>
      <com.cloudbees.plugins.credentials.domains.Domain>
        <specifications/>
      </com.cloudbees.plugins.credentials.domains.Domain>
      <java.util.concurrent.CopyOnWriteArrayList>
        <com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
          <scope>GLOBAL</scope>
          <id>dockerhub-credentials</id>
          <description></description>
          <username>{{ username }}</username>
          <password>{{ encrypted_pass.stdout }}</password>
          <usernameSecret>true</usernameSecret>
        </com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
         <org.jenkinsci.plugins.plaincredentials.impl.FileCredentialsImpl plugin="plain-credentials@195.vb_906e9073dee">
          <scope>GLOBAL</scope>
          <id>jenkins-kubeconfig</id>
          <description></description>
          <fileName>jenkins-kubeconfig.yml</fileName>
          <secretBytes>{{ secretBytes }}</secretBytes>
        </org.jenkinsci.plugins.plaincredentials.impl.FileCredentialsImpl>
      </java.util.concurrent.CopyOnWriteArrayList>
    </entry>
  </domainCredentialsMap>
</com.cloudbees.plugins.credentials.SystemCredentialsProvider>