apiVersion: v1
kind: Config
clusters:
  - name: prod-cluster
    cluster:
      certificate-authority-data: {{ cert_data.stdout }}
      server: https://{{ server }}
contexts:
  - name: jenkins-prod-context
    context:
      cluster: prod-cluster
      user: jenkins-deployer
      namespace: default
current-context: jenkins-prod-context
users:
  - name: jenkins-deployer
    user:
      token: {{ token }}
